{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Inscription{% endblock %}

    {% block body %}
        <div class="container">
            <h1 class="text-center">Inscription</h1>
            <p class="text-center">Saisissez vos informations</p>
            <hr>



            <div class="row">
                <div class="col-6 mx-auto">

                    {{ form_start(registrationLogForm) }}
                    {{ form_row(registrationLogForm.lastname) }}
                    {{ form_row(registrationLogForm.firstname) }}
                    {{ form_row(registrationLogForm.nickname) }}
                    {{ form_row(registrationLogForm.email) }}
                    {{ form_row(registrationLogForm.password) }}
                    <div class="">
                        <button type="submit" name="enregistrer" id="enregistrer" class="btn btn-primary w-100">
                            Enregistrer
                        </button>
                    </div>


                    {{ form_end(registrationLogForm) }}
                </div>
            </div>




        </div>
    {% endblock %}
