{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Prescription{% endblock %}

{% block body %}
    <h1 class="text-center text-light mt-5">Ajouter une ordonnance</h1>
    <div class="container">

        {{ form_start(form) }}
        <div class="text-light">
            {{ form_row(form.registrationDate) }}
            {{ form_row(form.treatmentDuration) }}
            {{ form_row(form.frequency) }}
            {{ form_row(form.medicaments) }}
        </div>


        <div class="col-6 mx-auto">
            <button type="submit" class="btn btn-primary w-100 boutonsub">
                Enregistrer
            </button>
        </div>
        {{ form_end(form) }}

    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>

        $(function () {

            $('#prescription_medicaments').autocomplete({
                source: '/search'
            });

        });

    </script>
{% endblock %}
