{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification membre{% endblock %}

{% block body %}
    <div class="container text-light">
        <h1 class="text-center">Modification membre</h1>
        <hr>
        <div class="mb-2">
            <a href="{{ path('app_admin_users_utilisateur') }}" class="btn btn-secondary col-2">
                Retour
            </a>
            <br>
        </div>
        {{ form_start(form) }}

        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.nickname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.status) }}


        <button type="submit" name="modifier" id="modifier" class="btn btn-primary w-100">
            Modifier
        </button>
        {{ form_end(form) }}


    </div>
{% endblock %}

