{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 profile-main mt-4 m-0 p-0">
                <div class="row">
                    <div class="col-md-12 col-12 user-detail-main border mb-3 pb-2 rounded">
                        <div class="row">
                            <div class="col-md-12 col-12 profile-back">
                                <img src="{{ asset('img/med/' ~ medicament.image) }}" class="rounded-circle">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12 user-detail text-center">
                                <h4 class="m-0"><strong>{{ medicament.nom }}</strong></h4>
                                <h5>{{ medicament.descriptionCourte }}</h5>
                                <button class="btn btn-primary btn-lg w-50 border-0"
                                        style="font-size: 1.5em; background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%)">
                                    Voir les discussions
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-12 mt-4 pl-0 accordion-group-one">
                        <div id="accordionMyStory" class="mb-2">
                            <div class="card rounded story-card">

                                <a class="float-right" data-toggle="collapse" data-target="#collapseEnResume"
                                   aria-expanded="true" aria-controls="collapseEnResume">
                                    <div class="card-header rounded-0 pt-2 pb-2" id="headingMyStory">
                                        <h6 class="mb-0">En résumé</h6>
                                    </div>
                                </a>

                                <div id="collapseEnResume" class="collapse show" aria-labelledby="headingMyStory"
                                     data-parent="#accordionMyStory">
                                    <div class="card-body pt-2 pb-2">
                                        <p class="medic-card-contenu"><strong>Type : </strong>{{ medicament.type }}</p>
                                        <p class="medic-card-contenu"><strong>Voie d'administration : </strong>{{ medicament.methodeUtilisation }}</p>
                                        <p class="medic-card-contenu"><strong>Prix : </strong>{{ medicament.prix }}€</p>
                                        <p class="medic-card-contenu"><strong>Taux de remboursement : </strong>{{ medicament.tauxRemboursement }}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordionMyStory" class="mb-2">
                            <div class="card rounded story-card">

                                <a class="float-right" data-toggle="collapse" data-target="#collapseComposition"
                                   aria-expanded="true" aria-controls="collapseComposition">
                                    <div class="card-header rounded-0 pt-2 pb-2" id="headingMyStory">
                                        <h6 class="mb-0">Composition</h6>
                                    </div>
                                </a>

                                <div id="collapseComposition" class="collapse show" aria-labelledby="headingMyStory"
                                     data-parent="#accordionMyStory">
                                    <div class="card-body pt-2 pb-2">
                                        <p class="medic-card-contenu"><strong>Substance active : </strong>{{ medicament.substanceActive }}</p>
                                        <p class="medic-card-contenu"><strong>Dosage : </strong>{{ medicament.dosageSubstance }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordionMyStory" class="mb-2">
                            <div class="card rounded story-card">

                                <a class="float-right" data-toggle="collapse" data-target="#collapseConservation"
                                   aria-expanded="true" aria-controls="collapseConservation">
                                    <div class="card-header rounded-0 pt-2 pb-2" id="headingMyStory">
                                        <h6 class="mb-0">Conservation</h6>
                                    </div>
                                </a>

                                <div id="collapseConservation" class="collapse show" aria-labelledby="headingMyStory"
                                     data-parent="#accordionMyStory">
                                    <div class="card-body pt-2 pb-2">
                                        <p class="medic-card-contenu">{{ medicament.conservation|capitalize|nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 mt-4 accordion-group-two">
                        <div id="accordionUserInfo" class="mb-2">
                            <div class="card rounded info-card">

                                <a class="float-right" data-toggle="collapse" data-target="#collapseCasDePrescriprion"
                                   aria-expanded="true" aria-controls="collapseCasDePrescriprion">
                                    <div class="card-header rounded-0 pt-2 pb-2" id="headingUserInfo">
                                        <h6 class="mb-0">Cas de prescription</h6>
                                    </div>
                                </a>

                                <div id="collapseCasDePrescriprion" class="collapse show"
                                     aria-labelledby="headingUserInfo"
                                     data-parent="#accordionUserInfo">
                                    <div class="card-body pt-2 pb-2">
                                        <p class="medic-card-contenu">{{ medicament.symptomes|nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordionSaleStatistics" class="mb-2">
                            <div class="card rounded info-card">

                                <a class="float-right" data-toggle="collapse" data-target="#collapseContreIndications"
                                   aria-expanded="true" aria-controls="collapseContreIndications">
                                    <div class="card-header rounded-0 pt-2 pb-2" id="headingSaleStatistics">
                                        <h6 class="mb-0">Contre indiqué dans les cas suivants</h6>
                                    </div>
                                </a>

                                <div id="collapseContreIndications" class="collapse show" lass="collapse show"
                                     aria-labelledby="headingSaleStatistics" data-parent="#accordionSaleStatistics">
                                    <div class="card-body pt-2 pb-2">
                                        <p class="medic-card-contenu">{{ medicament.contreIndications|nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordionUserInfo" class="mb-2">
                            <div class="card rounded info-card">

                                <a class="float-right" data-toggle="collapse" data-target="#collapseEffetsIndesirables"
                                   aria-expanded="true" aria-controls="collapseEffetsIndesirables">
                                    <div class="card-header rounded-0 pt-2 pb-2" id="headingUserInfo">
                                        <h6 class="mb-0">Effets indésirables</h6>
                                    </div>
                                </a>

                                <div id="collapseEffetsIndesirables" class="collapse show"
                                     aria-labelledby="headingUserInfo"
                                     data-parent="#accordionUserInfo">
                                    <div class="card-body pt-2 pb-2">
                                        <p class="medic-card-contenu">{{ medicament.effetsIndesirables|nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-4 col-12 mt-4 pr-0 accordion-group-three">
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
