<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue sur Tokepi !{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/css/modal.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        {% if app.user is not null %}
        <a class="navbar-brand" href="{{ path('app_user_index') }}">
            <img class="logo" src="{{ asset('img/tokepi_logo_blanc.png') }}" alt="">
        </a>
            {% else %}
                <a class="navbar-brand" href="{{ path('app_accueil_index') }}">
                    <img class="logo" src="{{ asset('img/tokepi_logo_blanc.png') }}" alt="">
                </a>
        {% endif %}
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_affichagemed_index') }}">
                            Gestion médicaments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_users_utilisateur') }}">
                            Gestion membres
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_gestionmessage_index') }}">
                            Gestion messages
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="navbar-collapse flex-end">
            <ul class="navbar-nav">
                <form action="">
                    <input class="form-control" id="search-medoc" type="text" name="search-medoc" size="35" autocomplete="off" placeholder="Rechercher un médicament...">
                </form>
                {% if app.user is null %}
                    <li class="nav-item">
                        <a href="{{ path('app_registrationlog_register') }}" class="nav-link">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_registrationlog_connexion') }}" class="nav-link">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item text-right">
                        <a href="{{ path('app_registrationlog_logout') }}" class="nav-link">Deconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block error %}
    {# affichage des messages flash #}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            {# pour la classe alert-danger de bootstrap #}
            {% if (type == 'error') %}
                {% set type ='danger' %}
            {% endif %}
            <div class="alert alert-{{ type }} mt-2 text-center">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}{% endblock %}
{% block javascripts %}
    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.11.0/jquery.typeahead.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{{ asset('lib/js/typeahead.bundle.js') }}"></script>
    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/editUsersStatus.js') }}"></script>
    <script src="{{ asset('js/rechercheAjax.js') }}"></script>

    <script>

        $(function () {

            $('#search-medoc').autocomplete({
                source : '/search-result',
                select : function (event, ui) {
                    $('#search-medoc').val(ui.item.nom);
                    window.location.href = '/medicpage/' + ui.item.id;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                    .append( item.nom )
                    .appendTo( ul );
            };

        });

    </script>


{% endblock %}


</body>
</html>
