{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}
    <div class="container bootstrap snippet text-light mt-5">
        <h1>Modifiez vos infos</h1>
        {{ form_start(form) }}
        <div class="row">

            <div class="col-sm-3"><!--left col-->
                <div class="text-center">
                    {% if original_image is not null %}
                        <p>
                            <img src="{{ asset('img/profil/' ~ original_image) }}" alt="avatar" height="200px"
                                 class="img-circle">
                        </p>
                        {{ form_row(form.image) }}
                        {% else %}
                            <p>Vous pouvez ajouter une photo</p>
                            {{ form_row(form.image) }}
                    {% endif %}


                </div>

                <p><small>Inscrit depuis le : {{ user.registrationDate|date('d/m/Y') }}</small></p>
                </hr><br>
            </div><!--/col-3-->

            <div class="col-sm-9">
                <hr>

                    <div class="col-xs-9">
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.nickname) }}
                        {{ form_row(form.email) }}
                    </div>


                <div class="col-6 mx-auto">
                    <button type="submit" class="btn btn-primary w-100">
                        Enregistrer
                    </button>

                </div>

            </div><!--/tab-content-->

        </div><!--/col-9-->
        {{ form_end(form) }}
    </div><!--/row-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        // affichage du fichier dans le champ du formulaire
        $(document).ready(function () {
            bsCustomFileInput.init();
        })
    </script>
{% endblock %}